* body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 26px;
    color: #d9dcd6; 
}

.header nav {
    padding-top: 15px;
    margin-right: 0px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #2a607c;
    width: 100%;
    padding: 40px 0;
}
  
footer h2 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
  
footer div {
    line-height: 1.5;
}
  
footer p {
    color: #ffffff;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/darkbluehero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.sub-header {
    margin: 0px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-title {
    font-size: 64px;
    color: #2a607c;
    border-right: 3px solid;
    margin: 0 auto 5px 0;
    width: 25%;
    flex: 0 0 20%;
}

.about-text {
    font-size: 20px;
    color: #2a607c;
    flex: 0 0 75%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
}

.container img {
    border: #68cbd6 solid 3px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    flex-wrap: wrap;
}

.primary-container img {
    border: #68cbd6 solid 3px;
    height: 400px;
    width: 800px;
    object-fit: cover;
    flex-wrap: wrap;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: #68cbd6;
    color: #2a607c;
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 20px;
}

.text-block p {
    font-size: 16px;
}
.contact-info ul li {
    display: inline-block;
    justify-content: space-evenly;
    text-decoration: underline;
    font: bold;

}

.contact-info ul li a {
    color: #2a607c;
    margin: auto;
}