* body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 26px;
    color: #2a607c; 
    background-color: #ffffff;
    padding: 15px;
    margin-left: -20px;
}

.header nav {
    padding-top: 15px;
    margin-right: 0px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #2a607c;
    width: 100%;
    padding: 40px 0;
}
  
footer h2 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
  
footer div {
    line-height: 1.5;
}
  
footer p {
    color: #ffffff;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/darkbluehero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.sub-header {
    margin: 0px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color: #2a607c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    padding: 15px;
}

.section-title {
    font-size: 64px;
    color: #2a607c;
    border-right: 3px solid;
    margin: 0 auto 5px 0;
    width: 25%;
    flex: 0 0 20%;
}

.about-text {
    font-size: 20px;
    color: #2a607c;
    flex: 0 0 75%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-projects {
    flex-wrap: wrap;
}
.container {
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
}
 
.container-even {
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
}

.primary-container {
    flex-wrap: wrap;
    position: relative;  
    padding: 15px;
}


.container img {
    border: #68cbd6 solid 3px;
    height: 150px;
    width: 430px;
}

.container-even img {
    border: #68cbd6 solid 3px;
    height: 150px;
    width: 430px;
}

.primary-container img {
    border: #68cbd6 solid 3px;
    height: 300px;
    width: 900px;
}

.text-block {
    position: absolute;
    bottom: 30px;
    background-color: #68cbd6;
    color: #2a607c;
    padding-left: 15px; 
    font-size: 20px;
}

.text-block-even {
    position: absolute;
    bottom: 30px;
    background-color: #68cbd6;
    color: #2a607c;
    padding-left: 15px;
    padding-right: 15px; 
    font-size: 20px;
}

.primary-text-block{
    position: absolute;
    bottom: 30px;
    background-color: #68cbd6;
    color: #2a607c;
    padding-left: 15px;
    padding-right: 15px; 
    font-size: 20px;
}
.text-block p {
    font-size: 16px;

}
.contact-info ul li {
    display: inline-block;
    justify-content: space-evenly;
    text-decoration: underline;
    font: bold;
    padding: 15px 30px;

}

.contact-info ul li a {
    color: #2a607c;
    margin: auto;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
    
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero {
      width: 100%;
    }
    
    .hero {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
  
    .img {
      width: 55%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

  
    .section-title {
      width: 95%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    } 
  
  
    }